In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('states.csv')
df['country']=df['map'].str[:2]
df['state']=df['map'].str[2:6]
df['date']=df['map'].str[6:12]
df['west']=df['map'].str[12:15]
df['north']=df['map'].str[15:18]
df['west-east']=df['map'].str[18:21]
df['north-south']=df['map'].str[21:24]

In [7]:
for index, row in df.iterrows():
  df.loc[index, 'west'] = int(row['west'], base=36)
  df.loc[index, 'north'] = int(row['north'], base=36)
  df.loc[index, 'west-east'] = int(row['west-east'], base=36)
  df.loc[index, 'north-south'] = int(row['north-south'], base=36)

In [8]:

df=df.drop(columns=['map','country','state','date','west-east', 'north-south'])
df

      StateName        w        n  west north
0    Vorarlberg   9.5583  47.1706  4312  2861
1         Tyrol  10.3400  47.0800  4325  2855
2      Salzburg  12.0019  47.4128  4370  2845
3     Carinthia  13.5556  46.5994  4383  2876
4  UpperAustria  13.7381  48.5139  4385  2820
5        Styria  15.0125  46.7606  4404  2852
6  LowerAustria  15.5911  48.2100  4424  2811
7    Burgenland  16.4944  47.6772  4404  2852
8        Vienna  16.3700  48.2082  4464  2836